bottle==0.13.4
cffi==2.0.0
clr_loader==0.2.8
mss==10.1.0
packaging==25.0
pillow==12.0.0
proxy_tools==0.1.0
pycparser==2.23
pynput==1.8.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pythonnet==3.0.5
pywebview==6.1
pywin32==311
QtPy==2.4.3
six==1.17.0
typing_extensions==4.15.0
