.pq-cell-disabled{
	background: rgb(246, 246, 246);
}
.pq-cell-required{
	background: #ffff99;
}
.pq-grid-cell{
    color: black;
}
.pq-grid-cell.pq-state-select{
    color: black;
}
.pq-grid-cell.pq-state-select.ui-state-highlight {
    background: aliceblue;
}
input.pq-editor-focus.pq-cell-editor {
    border: none !important;
    height: 25px !important;
    width: 98% !important;
    margin-top: -1px !important;
    border-radius: 0 !important;
    outline: none;
}
 .pq-cell-disabled, .pq-cell-disabled > input[type=checkbox] {
    cursor: not-allowed;
}
.pq-grid .form-check-input[type=checkbox] {
    margin-right: 0;
    outline: none;
}
.pq-select-search-div span.ui-icon.ui-icon-search {
    margin-top: 3px;
}
.pq-select-button .pq-item-close.ui-icon.ui-icon-close {
    margin-top: 0px;
}
.pq-select-item {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.pq-select-text {
    color: transparent;
}
.pq-grid-header-search-row .pq-grid-hd-search-field{
    min-width: unset;
}
.pq-grid-cell .form-check-input:before{
    right: -1px;
}
.pq-grid-col .form-check-input:before {
    right: 10px;
}
.pq-toolbar > * {
    float: right;
}
.fa-solid, .fas{
    font-family: "Font Awesome 6 Free" !important;
}
.fa-regular, .far {
    font-family: "Font Awesome 6 Free" !important;
}