.loading-container.show{
    display: block;
}
.loading-container {
    display: none;
    position: fixed;
    z-index: 9999;
    background: white;
    opacity: 0.7;
}
.spinner {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 3px solid #ddd;
    border-top-color: #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    top: 45%;
    left: 50%;
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}